<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="row">
      <div class="col-md"></div>
      <div class="col-md">
        <h1 class="bold_heading">Онлайн Дискотека</h1>
        <p class="lead">Най-доброто място за разпускане всяка вечер</p>
        <form method="post" action="/registerUser">
          <div class="form-group form-inline">
            <input type="text" class="form-control" name="username" placeholder="Въведи своя USERNAME" id="username">
          </div>
          <button class="btn btn-primary">Влез в Дискотеката</button>
        </form>
      </div>
      <div class="col-md"></div>
    </div>
  </div>