<style>
  .message_container{
    height:50vh;
    background-color:#e5e0ed;
    border-radius:5px 5px 0px 0px;
    overflow-y:auto;
    color:black;
  }
</style>
<div class="mt-4">
    <div class="message_container"></div>
  <div class="w-100"></div>
  
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Your message" id="message">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit" id="sendBtn">Send</button>
      </div>
  </div>
</div>
