<div class="container">
  <p id="peopleOnline" class="form-text">
  </p>
  <!-- chat area and people area-->
  <div class="row mt-3">
    <div class="col-md-5">
      <%- include ./chatMain.ejs %>
    </div>
  </div>
</div>
<script src="public/js/chat.js"></script>