<%- include ./partials/header.ejs %>
<div class="container">
  <h1 class="alert alert-danger">Forbidden. You need a username to enter a dancefloor</h1>
</div>
<script src="public/js/app.js"></script>
<%- include ./partials/footer.ejs %>