<%- include ./partials/header.ejs %>
<div class="container">
  <h1 class="alert alert-danger">Грешка. Трябва да въведеш USERNAME за да влезеш в дискотеката.</h1>
</div>
<script src="public/js/app.js"></script>
<%- include ./partials/footer.ejs %>