<%- include ./partials/header.ejs %>
  <div class="container">
    <h1 class="my-3">Set Music</h1>      
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="input" aria-describedby="inputGroupFileAddon04">
        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="subBtn">SetMusic</button>
      </div>
    </div>
  </div>
<script src="public/js/setMusic.js"></script>
<%- include ./partials/footer.ejs %>