.gif_container{
  display:grid;
  grid-template-columns: 280px 280px 280px 280px 280px;
}
.gif{
  cursor: pointer;
}

body{
  color:white;
  background-image:url("https://cdn.discordapp.com/attachments/505452573373759508/506484829366386719/5.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 455px
}
