.gif_container{
  display:grid;
  grid-template-columns: 280px 280px 280px 280px 280px;
}
.gif{
  cursor: pointer;
}

body{
  color:white;
  background-image:url("https://78.media.tumblr.com/d6c43a90f5d0ceb99956e46375c6aa80/tumblr_ou6uzzgEXD1s60oo7o1_400.gif");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 455px
}
